<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-back-button defaulthref=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'TITLES.food' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="dark">
  <ion-footer *ngFor="let client of (clients | async)">
    <ion-footer *ngIf="isLogged == 'true' && client.rol == 'Admin'">
      <ion-item class="ion-text-center" color="dark">
        <ion-label>{{ 'CREATEFOOD.namePage' | translate }}</ion-label>
      </ion-item>

      <ion-item class="ion-margin" color="dark">
        <ion-label>{{ 'CREATEFOOD.category' | translate }}</ion-label>
        <ion-select interface="popover" [(ngModel)]="food.kind" name="kind">
          <ion-footer *ngFor="let category of (categories | async)">
            <ion-select-option *ngIf="category.kind == 'Comidas'" value="{{ category.name }}">
            {{ category.name }}</ion-select-option>
          </ion-footer>
        </ion-select>
      </ion-item>

      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item color="dark">
          <ion-label position="stacked">{{ 'CREATEFOOD.title' | translate }} <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="text" [(ngModel)]="food.title" name="title"></ion-input>
        </ion-item>

        <ion-item color="dark">
          <ion-label position="stacked">{{ 'CREATEFOOD.description' | translate }} <ion-text color="danger">*</ion-text></ion-label>
          <ion-textarea required [(ngModel)]="food.description" name="description"></ion-textarea>
        </ion-item>

        <ion-item color="dark">
          <ion-label position="stacked">{{ 'CREATEFOOD.price' | translate }} <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="number" [(ngModel)]="food.price" name="price"></ion-input>
        </ion-item>

        <ion-item color="dark">
          <ion-label position="stacked">{{ 'TITLES.companions' | translate }} <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="text" [(ngModel)]="food.companions" name="companions"></ion-input>
        </ion-item>

        <ion-item color="dark">
          <ion-label position="stacked">{{ 'CREATEFOOD.image' | translate }} <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="file" (change)="onUpload($event)"></ion-input>
        </ion-item>
        <ion-item color="dark">
          <ion-label position="stacked">{{ 'CREATEFOOD.progress' | translate }} {{ uploadPercent | async }} %</ion-label>
        </ion-item>
        <ion-input type="hidden" [value]="urlImage | async" [(ngModel)]="food.image" name="image"></ion-input>
      </ion-list>

      <ion-footer *ngIf="!food.id">
        <div class="ion-padding">
          <ion-button class="ion-margin" expand="block" (click)="addFood()">{{ 'CREATEFOOD.create' | translate }}</ion-button>
        </div>
      </ion-footer>
    </ion-footer>
  </ion-footer>
</ion-content>