<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaulthref=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'TITLES.category' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="dark">
  <ion-footer *ngFor="let client of (clients | async)">
    <ion-footer *ngIf="isLogged == 'true' && client.rol == 'Admin'">
      <ion-item class="ion-text-center" color="dark">
        <ion-label>{{ 'EDITCATEGORY.choose' | translate }}</ion-label>
      </ion-item>

      <ion-item-sliding>
        <ion-item color="dark" button [routerLink]="['/menu/third/dashboard/ecategory', category.id]"
          *ngFor="let category of (categories | async)">
          <ion-label>{{ category.name }}</ion-label>
        </ion-item>
      </ion-item-sliding>
    </ion-footer>
  </ion-footer>
</ion-content>