<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaulthref=""></ion-back-button>
      </ion-buttons>
    <ion-title>{{ 'TITLES.special' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content class="ion-padding" color="dark">
  <ion-footer *ngFor="let client of (clients | async)">
    <ion-footer *ngIf="isLogged == 'true' && client.rol == 'Admin'">
      <ion-item class="ion-text-center" color="dark">
        <ion-label>{{ 'DELETESPECIAL.pageName' | translate }}</ion-label>
      </ion-item>

      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item color="dark">
          <ion-label position="stacked">{{ 'DELETESPECIAL.title' | translate }} <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="text" disabled="true" [(ngModel)]="special.title" name="title"></ion-input>
        </ion-item>

        <ion-item color="dark">
          <ion-label position="stacked">{{ 'DELETESPECIAL.category' | translate }} <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="text" disabled="true" [(ngModel)]="special.kind" name="kind"></ion-input>
        </ion-item>

        <ion-footer *ngIf="special.kind != 'Destacado'">
          <ion-item color="dark">
            <ion-label position="stacked">{{ 'CREATEEVENT.day' | translate }} <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" disabled="true" [(ngModel)]="special.day" name="day"></ion-input>
          </ion-item>
        </ion-footer>
        
        <ion-footer *ngIf="special.kind == 'Destacado'">
          <ion-item color="dark">
            <ion-label position="floating">{{ 'DELETEEVENT.date' | translate }}<ion-text color="danger">*</ion-text></ion-label>
            <ion-datetime disabled="true" displayFormat="MM/DD/YYYY" [(ngModel)]="special.date" name="date"></ion-datetime>
          </ion-item>

          <ion-item color="dark">
            <ion-label position="floating">{{ 'DELETEEVENT.time' | translate }}<ion-text color="danger">*</ion-text></ion-label>
            <ion-datetime disabled="true" displayFormat="HH:mm" [(ngModel)]="special.hour" name="hour"></ion-datetime>
          </ion-item>
        </ion-footer>

        <ion-item color="dark">
          <ion-label position="stacked">{{ 'DELETESPECIAL.description' | translate }} <ion-text color="danger">*</ion-text></ion-label>
          <ion-textarea required disabled="true" [(ngModel)]="special.description" name="description"></ion-textarea>
        </ion-item>

        <ion-footer *ngIf="special.extra != ''">
          <ion-item color="dark">
            <ion-label position="stacked">{{ 'CREATEEVENT.extra' | translate }}</ion-label>
            <ion-textarea disabled="true" [(ngModel)]="special.extra" name="extra"></ion-textarea>
          </ion-item>
        </ion-footer>

        <ion-item color="dark">
            <ion-label position="stacked">{{ 'DELETESPECIAL.price' | translate }}</ion-label>
            <ion-input required type="number" disabled="true" [(ngModel)]="special.price" name="price"></ion-input>
        </ion-item>
      </ion-list>

      <ion-footer *ngIf="special.id">
        <div class="ion-padding">
          <ion-button class="ion-margin" expand="block" (click)="deleteSpecial()">{{ 'DELETESPECIAL.delete' | translate }}</ion-button>
        </div>
      </ion-footer>
    </ion-footer>
  </ion-footer>
</ion-content>
    