<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaulthref=""></ion-back-button>
          </ion-buttons>
      <ion-title>{{ 'TITLES.reservation' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding" color="dark">
  <ion-footer *ngFor="let client of (clients | async)">
    <ion-footer *ngIf="isLogged == 'true' && client.rol == 'Admin'">
      <ion-item class="ion-text-center" color="dark">
        <ion-label>{{ 'WATCHRESERVATION.reservations' | translate }}</ion-label>
      </ion-item>
      <ion-footer *ngFor="let reservation of (reservations | async)">
        <ion-item-sliding>
          <ion-item color="dark" button [routerLink]="['/menu/third/dashboard/sdreservation', reservation.id]" 
            *ngIf="reservation.status != ''">
            <ion-label>{{ reservation.date }} {{ reservation.hour}}</ion-label>
            <ion-note slot="end" *ngIf="reservation.status == 'Verde'" color="success">
              {{ 'WATCHRESERVATION.aprove' | translate}}</ion-note>
            <ion-note slot="end" *ngIf="reservation.status == 'Rojo'" color="danger">
              {{ 'WATCHRESERVATION.reject' | translate}}</ion-note>
          </ion-item>
        </ion-item-sliding>
      </ion-footer>
    </ion-footer>
  </ion-footer>
</ion-content>