<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaulthref=""></ion-back-button>
          </ion-buttons>
      <ion-title>{{ 'TITLES.reservation' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content class="ion-padding" color="dark">
  <ion-footer *ngFor="let client of (clients | async)">
    <ion-footer *ngIf="isLogged == 'true' && client.rol == 'Admin'">
      <ion-item class="ion-text-center" color="dark">
        <ion-label>{{ 'DELETERESERVATION.pageName' | translate }}</ion-label>
      </ion-item>
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
          <ion-item color="dark">
            <ion-label position="stacked">{{ 'DELETERESERVATION.name' | translate }} <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" [(ngModel)]="reservation.name" name="name" disabled></ion-input>
          </ion-item>
      
          <ion-item color="dark">
            <ion-label position="stacked">{{ 'DELETERESERVATION.phone' | translate }} <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="number" [(ngModel)]="reservation.number" name="number" disabled></ion-input>
          </ion-item>
      
          <ion-item color="dark"> 
            <ion-label position="stacked">{{ 'DELETERESERVATION.email' | translate }} <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="email" [(ngModel)]="reservation.email" name="email" disabled></ion-input>
          </ion-item>
      
          <ion-item color="dark">
            <ion-label position="stacked">{{ 'DELETERESERVATION.people' | translate }} <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="number" [(ngModel)]="reservation.people" name="people" disabled></ion-input>
          </ion-item>
      
          <ion-item color="dark">
            <ion-label position="stacked">{{ 'DELETERESERVATION.date' | translate }} <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" [(ngModel)]="reservation.date" name="date" disabled></ion-input>
          </ion-item>
      
          <ion-item color="dark">
              <ion-label position="stacked">{{ 'DELETERESERVATION.hour' | translate }} <ion-text color="danger">*</ion-text></ion-label>
              <ion-input required type="text" [(ngModel)]="reservation.hour" name="hour" disabled></ion-input>
            </ion-item>
      
          <ion-item color="dark">
            <ion-label position="stacked">{{ 'DELETERESERVATION.messages' | translate }} <ion-text color="danger">*</ion-text></ion-label>
            <ion-textarea [(ngModel)]="reservation.comment" name="comment" disabled></ion-textarea>
          </ion-item>
        </ion-list>
      
        <ion-item class="ion-margin" color="dark">
          <ion-label position="stacked">{{ 'DELETERESERVATION.answer' | translate }}</ion-label>
          <ion-footer *ngIf="reservation.status == 'Verde'">
              <ion-input required type="text" name="status" disabled>{{ 'DELETERESERVATION.aprove' | translate }}</ion-input>
          </ion-footer>
          <ion-footer *ngIf="reservation.status == 'Rojo'">
              <ion-input required type="text" name="status" disabled>{{ 'DELETERESERVATION.reject' | translate }}</ion-input>
          </ion-footer>
        </ion-item>

        <div class="ion-padding">
          <ion-button class="ion-margin" expand="block" (click)="deleteReservation()">{{ 'DELETERESERVATION.delete' | translate }}</ion-button>
        </div>
    </ion-footer>
  </ion-footer>
</ion-content>