<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'TITLES.password' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="dark">
  <ion-item color="dark">
    <ion-label position="stacked">{{ 'PASSWORD.title' | translate }} <ion-text color="danger">*</ion-text></ion-label>
    <ion-input required type="email" [(ngModel)]="user.email" name="email" class="form-control"></ion-input>
  </ion-item>

  <div class="ion-padding">
    <ion-button class="ion-margin" expand="block" type="submit" 
    routerDirection="forward" (click)="resendEmail()">{{ 'PASSWORD.send' | translate }}</ion-button>
  </div>

</ion-content>
